<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Glossary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <h1>SIT722 DevOps Glossary</h1>
        <p>Welcome to my website showing a collection of DevOps terms and their brief
            descriptions.</p>
    </div>
</header>
<main>
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Term</th>
                <th scope="col">Description</th>
                <th scope="col">References</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td>DevOps</td>
                <td>
                    <p>An approach to software engineering that aims to align software developers
                    and operations staff. In this way, there is nonconflicting tasking and a
                    seamless transition of project artifacts via interoperable processes and
                    tools.
                    </p>
                </td>
                <td>
                    <p>Cois, C. A., Yankel, J., & Connell, A. (2014, October). Modern DevOps:
                    Optimizing software development through effective system interactions.
                    In 2014 IEEE international professional communication conference (IPCC)
                    (pp. 1-7). IEEE.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <p>Agile</p>
                </td>
                <td>
                    <p>An approach to software development that entails a set of values and
                        principles that ensure the delivery of high-quality software products
                        to customers through an adaptive, incremental, and iterative approach.
                        It involves cross-functional and self-organized teams working
                        collaboratively to achieve the desired outcomes.
                    </p>
                </td>
                <td>
                    <p>Gheorghe, A. M., Gheorghe, I. D., & Iatan, I. L. (2020). Agile Software
                        Development. Informatica Economica, 24(2).
                    </p>
                    <p>Kuhrmann, M., Tell, P., Hebig, R., Klünder, J., Münch, J., Linssen, O., ... & Richardson, I. (2021). What makes agile software development agile?. IEEE transactions on software engineering, 48(9), 3523-3539.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Deployment</td>
                <td>
                    <p>The process of releasing and installing software applications or updates
                        onto target systems. Doing so makes the software operational and available
                        for end-users.
                    </p>
                </td>
                <td>
                    <p>Pressman, R. S. (2005). Software engineering: a practitioner's approach.
                        Palgrave macmillan.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Release</td>
                <td>
                    <p>The specific version or iteration of a software product that is made
                        available to end-users or customers. It represents a stable and tested
                        state of the software, ready for deployment in production or distribution
                        to the target audience.
                    </p>
                </td>
                <td>
                    <p>Pressman, R. S. (2005). Software engineering: a practitioner's approach.
                        Palgrave macmillan.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Stakeholder</td>
                <td>
                    <p>Any individual, group, or organization that has an interest or
                        influence in the software project. Stakeholders can have various
                        roles and levels of involvement throughout the software development
                        lifecycle. any individual, group, or organization that has an interest
                        or influence in the software project. Stakeholders can have various roles
                        and levels of involvement throughout the software development lifecycle.
                    </p>
                </td>
                <td>
                    <p>Pressman, R. S. (2005). Software engineering: a practitioner's approach.
                        Palgrave macmillan.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Cloud computing</td>
                <td>
                    <p>A technology that allows users to access and use computing services,
                        like storage and software, over the internet. Instead of relying on their
                        own computers or servers, users can use remote resources hosted by providers.
                    </p>
                </td>
                <td>
                    <p>Erl, T., Puttini, R., & Mahmood, Z. (2013). Cloud computing: concepts,
                        technology & architecture. Pearson Education.
                    </p>
                    <p>Alam, T. (2020). Cloud Computing and its role in the Information Technology.
                        IAIC Transactions on Sustainable Digital Innovation (ITSDI), 1(2), 108-115.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Microservices Application</td>
                <td>
                    <p>Software where a large application is broken down into smaller,
                        independent services that can be developed, deployed, and managed
                        separately. This approach aims to enhance flexibility, scalability,
                        and maintainability of the overall system.
                    </p>
                </td>
                <td>
                    <p>Newman, S. (2021). Building microservices. " O'Reilly Media, Inc.".</p>
                    <p>Davis, A. (2021). Bootstrapping Microservices with Docker,
                        Kubernetes, and Terraform: A project-based guide. Simon and Schuster.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Microservice</td>
                <td>
                    <p>A self-contained unit with its own specific functionality. It communicates
                        with other microservices in the application through well-defined APIs.
                    </p>
                </td>
                <td>
                    <p>Newman, S. (2021). Building microservices. " O'Reilly Media, Inc.".
                    </p>
                    <p>Davis, A. (2021). Bootstrapping Microservices with Docker,
                        Kubernetes, and Terraform: A project-based guide. Simon and Schuster.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Kubernetes</td>
                <td>
                    <p>An open-source container orchestration platform used for automating the
                        deployment, scaling, and management of containerized applications.
                        It provides a robust system for coordinating and scheduling containers
                        across a cluster of nodes. This allows applications to run consistently
                        and reliably in various environments.
                    </p>
                </td>
                <td>
                    <p>Hightower, K., Burns, B., & Beda, J. (2017). Kubernetes: Up and Running
                        Dive into the Future of Infrastructure. OReilly Media. Inc., Sebastopol.
                    </p>
                    <p>Davis, A. (2021). Bootstrapping Microservices with Docker,
                        Kubernetes, and Terraform: A project-based guide. Simon and Schuster.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Docker</td>
                <td>
                    <p>An open-source platform that enables developers to automate the deployment, scaling, and management of applications within containers. In this context, containers refer to lightweight, portable, and self-sufficient units that package the application's code and all its dependencies.
                    </p>
                </td>
                <td>
                    <p>Poulton, N. (2023). Docker Deep Dive: Zero to Docker in a single book.
                        NIGEL POULTON LTD.
                    </p>
                    <p>Davis, A. (2021). Bootstrapping Microservices with Docker,
                        Kubernetes, and Terraform: A project-based guide. Simon and Schuster.
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    let idColumn = document.querySelectorAll("th[scope='row']");
    let counter = 1;
    idColumn.forEach(row => {
        row.innerHTML = counter;
        counter++;
    })
</script>
</body>
</html>