<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Glossary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <h1>SIT722 DevOps Glossary</h1>
        <p>Welcome to my website showing a collection of DevOps terms and their brief
            descriptions.</p>
    </div>
</header>
<main>
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Term</th>
                <th scope="col">Description</th>
                <th scope="col">References</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $.ajax(
        {
            url: "/glossary-items",
            success: function(glossaryItems) {
                let counter = 1;
                let tableBody = document.getElementsByTagName("tbody")[0];

                glossaryItems.forEach(glossaryItem => {
                    let idCol = '<th scope="row">' + counter + '</th>';
                    let termCol = '<td>' + glossaryItem[0] + '</td>';
                    let descriptionCol = '<td>' + glossaryItem[1] + '</td>';
                    let referencesCol = '<td>';

                    for(let i = 2; i < glossaryItem.length; i++) {
                        referencesCol += '<p>' + glossaryItem[i] + '<p>';
                    }

                    referencesCol += '</td>';

                    tableBody.innerHTML += '<tr>' +
                        idCol +
                        termCol +
                        descriptionCol +
                        referencesCol +
                        '</tr>';

                    counter++;
                });

            }
        }
    );
</script>
</body>
</html>